 
 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  /* background-color: #f8f8f8; */
  background-color: #858484;
}
 
.row {
     width: 50%;
   }
   button {
     padding: 17px 30px;
     background-color: #fff;
     color: #1eb2a6;
     font-weight: 600;
     border: none;
     margin: 30px 10px 0 0;
     border-radius: 3px;
     cursor: pointer;
     box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
     transition: 0.5s;
     
   }
   button icon {
     margin-left: 20px;
     font-size: 14px;
     padding: 0 5px;
   }
   button:hover {
     box-shadow: none;
   }
   .primary-btn {
     background-color: #1eb2a6;
     color: #fff;
   }
   
   /*------------global-----------*/
   #heading {
     text-align: center;
     padding: 40px 0;
   }
   #heading h3 {
     font-weight: 600;
     letter-spacing: 1px;
     color: #1eb2a6;
     text-transform: uppercase;
   }
   #heading h1 {
     font-size: 45px;
     margin: 20px 0;
     text-transform: capitalize;
   }
   p {
     line-height: 30px;
     font-size: 18px;
   }